
body {
	font-family: Arial, sans-serif;
}
.main {
	text-align: center;
}
img {
	display: block;
	margin: 30px auto;
}
input{
	padding: 5px 250px;
	border-radius: 2px;
	border: 2px solid black;
}

button {
	background-color: #2980b9;
	background-color: #2980b9;
	border: 1px solid black;
	border-radius: 2px;
	padding: 5px;
	color: white;
}